.cont-video{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.cardcurso{
    width:360px;
    height: 400px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #303030;
    gap: 20px;
    border-radius: 6mm;
}


.img-cardcurso img{
width: 360px;
height: 120px;
}

.author img{
    width: 50px;
    border-radius: 50%;
}

.author{
    display: flex;
}