.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(36,36,36);
    padding: 60px 0px;
    gap: 120px;
    /* background: linear-gradient(180deg, rgba(36,36,36,1)74%, rgba(0,0,0,1) 100%); */
}

.ftr-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.ftr-text p{
    padding-right: 10px;
    border-right: 1px solid whitesmoke;
    font-weight: 600;
    color:#00bfff;
    cursor: pointer;
}

.ftr-text p:last-child{
    border: none;
    color: whitesmoke;
}

.ftr-img{
    width: 200px;
}

.lg-networks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}